* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Red Hat Display", Sans-serif; 
}

:root{
  --primaryColor:linear-gradient(90deg, rgb(26, 218, 19), rgb(2, 252, 239)) 1 ;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}