.container{
  width: 70%;
  padding: 8% 15% 4% 15%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title{
  font-size: 75px;
  margin-bottom: 3%;
}
.paragraph{
  font-size: 20px;
  line-height: 30px;
  margin-top: 2%;
}
.span{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -52px;
  left: 45%;
}
.robot{

}

/* .inner{
  width: 70%;
  padding: 3% 5%;
  border: 8px solid black;
  border-radius: 25px;
  background-clip: padding-box;

  outline: none;
  border-color: linear-gradient(90deg, rgb(26, 218, 19), rgb(2, 252, 239)); 
  border-image: linear-gradient(90deg, rgb(26, 218, 19), rgb(2, 252, 239)) 1;
  background: linear-gradient(90deg, rgba(103,233,105,0.36458333333333337) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,1) 83%, rgba(24,214,209,0.3393732492997199) 96%);
} */
.inner{ 
width: 71%;
padding: 3% 5%;
background: radial-gradient(circle at 100% 100%, rgba(0,0,0,0.75) 0, rgba(0,0,0,0.75) 3px, transparent 3px) 0% 0%/5px 5px no-repeat,
            radial-gradient(circle at 0 100%, rgba(0,0,0,0.75) 0, rgba(0,0,0,0.75) 3px, transparent 3px) 100% 0%/5px 5px no-repeat,
            radial-gradient(circle at 100% 0, rgba(0,0,0,0.75) 0, rgba(0,0,0,0.75) 3px, transparent 3px) 0% 100%/5px 5px no-repeat,
            radial-gradient(circle at 0 0, rgba(0,0,0,0.75) 0, rgba(0,0,0,0.75) 3px, transparent 3px) 100% 100%/5px 5px no-repeat,
            linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) 50% 50%/calc(100% - 4px) calc(100% - 10px) no-repeat,
            linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) 50% 50%/calc(100% - 10px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, transparent 0%, rgba(31,235,36,0.43) 0%, rgba(52,216,204,0.93) 60%, #48abe0 100%),
            linear-gradient(273deg, rgb(9,255,0) 0%, #0ff08e 100%);
border-radius: 5px;
box-sizing: border-box;
position: relative;
justify-content: center;
align-items: center;
z-index: 4;
border-radius: 10px;
}
.bgGradient{
  top: 0;
  left: 0;
  /* opacity: 80%; */
  margin: 3px;
  border-radius: 6px;
  border: inherit;
  background: linear-gradient(90deg, rgba(0, 220, 130, 0.34) 0%, rgba(217, 217, 217, 0) 92%);
  border: inherit;
  position: absolute;
  height:98%;
  width: 18%;
}

.bgGradient2{
  top: 0;
  right: 0;
  margin-left: auto;
  /* opacity: 80%; */
  margin: 2px;
  border-radius: 6px;
  border: inherit;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(68, 194, 248, 0.38) 100%);
  position: absolute;
  height:98%;
  width: 18%;
}


.divContainer{
  display: flex;
  width: 80%;
  padding: 1% 4%;
  gap: 20px;
}

.divContainer1{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  padding: 0 0%;
  text-align: justifys;
}
.divContainer2{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: justify;
  background: rgba(24, 24, 27, 1);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}
.div1, .div2 { 
  display: flex;
  gap: 30px;
  padding: 3% 10%;
  border-radius: 15px;
  text-align: justify;
}
.div2{
  padding: 6% 10%;
}


.div1:hover, .div2:hover, .divContainer2:hover, .inner:hover{
  transform: scale(1.03);
}

.div1{
  background: linear-gradient(90deg, rgba(24, 24, 27, 1) 0%, rgba(24, 24, 27, 1) 76%, rgba(190, 148, 0, 0.38)100%);
}
.div2{
  background: linear-gradient(90deg, rgba(24, 24, 27, 1) 0%, rgba(24, 24, 27, 1) 76%, rgba(68, 194, 248, 0.38) 100%);
}
.span3{
}
.imageContainer{
  background-image: url('/polygon.svg');
  background-size: cover;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner1{
  justify-content: center;
  align-items: center;
  margin: auto;
}
.inner2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title2{
  font-size: 27px;
}
.desc{
  color: rgba(170, 170, 170, 1);
  font-size: 20px;
  line-height: 30px;
}
.graph{
  width: 250px;
  height: 220px;
  color: white;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background: url('/graph.svg');
}
.certificate{
  margin-left: 12%;
}